<!DOCTYPE html>

<!-- Built by Mark Dunne -->

<html>
<head>
    <title>Eat out to help out map</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <style>

        body {
            padding: 0;
            margin: 0;
        }

        #postcode-form {
            margin-bottom: 20px;
        }

        #container {
            width: 95%;
            margin-left: auto;
            margin-right: auto;
        }

        #map {
            width: 100%;
            height: 75vh;
        }

        #banner {
            /*height: 100px;*/
            display: flex;
            flex-direction: row;
            align-items: center;
            /*background-color: gray;*/
            margin-top: 20px;
            margin-bottom: 20px;
        }

        #banner img {
            width: 8rem;
            margin-right: 20px;
        }
    </style>

    <!-- Global site tag (gtag.js) - Google Ads: 969014876 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-969014876"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175299657-1"></script>

    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'AW-969014876');

        <!-- Event snippet for Website traffic conversion page -->
        gtag('event', 'conversion', {'send_to': 'AW-969014876/8nWUCJWWkdsBENz8h84D'});

        <!-- Global site tag (gtag.js) - Google Analytics -->
        gtag('js', new Date());
        gtag('config', 'UA-175299657-1');
    </script>

</head>
<body>

<div id="container">
    <div id="banner">
        <img src="/static/imgs/logo.png">
        <h1>Eat Out to Help Out map</h1>
    </div>
    <div id="postcode-form" class="pure-form">
        <label for="postcode-input">
            Postcode: <input type="text" id="postcode-input" placeholder="SW1A 1AA">
        </label>
        <button id="submit-postcode" class="pure-button pure-button-primary">Search</button>
    </div>
    <p>From 3 to 31 August, get a 50% discount when you eat in at restaurants that are registered with the Eat Out to Help Out Scheme.</p>
    <p><a href="https://www.gov.uk/guidance/get-a-discount-with-the-eat-out-to-help-out-scheme">Learn more about the Eat Out to Help Out Scheme</a></p>
    <div id='map'></div>
    <p><a href="mailto:mark@eatouthelpoutmap.co.uk">Email mark@eatouthelpoutmap.co.uk</a></p>
    <p>This is not an official source of information.</p>
</div>


<script>
    let restaurant_set = new Set()

    let map = L.map('map', {
        minZoom: 5,
        maxZoom: 19
    }).setView(
        [51.5080, -0.1281], 16
    ).locate(
        {setView: true, maxZoom: 16}
    ).addLayer(
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        })
    );
    map.on('moveend', evt => {
        console.log('Loading new restaurants')
        let center = map.getCenter();

        fetch(`/restaurants?longitude=${center.lng}&latitude=${center.lat}`).then(response => response.json()).then(data => {
            for (let restaurant of data) {
                if ('lng' in restaurant && 'lat' in restaurant) {
                    let restaurant_key = JSON.stringify(restaurant)
                    if (!restaurant_set.has(restaurant_key)) {
                        restaurant_set.add(restaurant_key)
                        let marker = L.marker([restaurant.lat, restaurant.lng]).addTo(map);
                        marker.bindPopup(restaurant.Name)
                    }
                }
            }
        })
    })
    map.fire('moveend');
    document.getElementById('submit-postcode').addEventListener('click', event => {
        let postcode = document.getElementById('postcode-input').value
        fetch(`https://api.postcodes.io/postcodes/${postcode}`).then(response => response.json()).then(data => {
            map.panTo(new L.LatLng(data.result.latitude, data.result.longitude));
        })
    })

</script>

<script data-ad-client="ca-pub-5224770681601564" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</body>
</html>
